<html lang='en'>

  <head>
    <style>
      body { margin: 0px; padding: 0px; } .headDiv { width: 100%; height: 120px;
      background: #F9FAFB; text-align: center; }
    </style>
  </head>
  <body>
    <p>Your code: {{code}}</p>
  </body>
</html>